<h1>Listing authors</h1>

<table>
  <thead>
    <tr>
      <th><h4>Username</h4></th>  
      <th><h4>Email</h4></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td width=150px><%=author.username%></td>
        <td width=150px><%= author.email %></td>
        <td width=50px><%= link_to 'Show', author %></td>
        <td width=50px><%= link_to 'Edit', edit_author_path(author) %></td>
        <td width=50px><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %></br>
<%= link_to "<< Back to Articles List", articles_path %>
